<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien1" class="com.telusko.Alien">
        <!-- Setter Injection -->
        <property name="age" value="21"></property>
        <!-- ref attribute is used for object value       -->
        <property name="lap" ref="lap1"></property>
    </bean>

    <bean id="lap1" class="com.telusko.Laptop">
        <!-- we also need this bean as well to make lap1 object work-->
    </bean>

</beans>
