<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="alien1" class="com.telusko.Alien" scope="prototype">
        <!--  beans are basically objects managed by spring frameworks  -->
    </bean>

    <bean id="Lap" class="com.telusko.Laptop">

    </bean>

</beans>
